<% if @paginator.prev? || @paginator.next? %>
  <nav class="pagination">
    <% if @paginator.prev? %>
      <%= link_to "Prev", events_path(before: @paginator.prev_cursor, q: params[:q], event_type: params[:event_type], aggregate: params[:aggregate]) %>
    <% else %>
      <span class="disabled">Prev</span>
    <% end %>

    <% if @paginator.next? %>
      <%= link_to "Next", events_path(after: @paginator.next_cursor, q: params[:q], event_type: params[:event_type], aggregate: params[:aggregate]) %>
    <% else %>
      <span class="disabled">Next</span>
    <% end %>
  </nav>
<% end %>
